In [2]:
import pandas as pd
import numpy as np

df= pd.read_csv('yt_predicted_RF_up.csv',low_memory=False)

In [3]:
df.head()

   0
0  5
1  4
2  6
3  5
4  6

In [4]:
Tdf= pd.read_csv('processed_test_up.csv',low_memory=False)

In [5]:
df_joined = df.join(Tdf)

In [7]:
df_joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   0                       352928 non-null  int64
 1   constructorId           352928 non-null  int64
 2   grid                    352928 non-null  int64
 3   positionOrder           352928 non-null  int64
 4   points                  352928 non-null  float64
 5   laps                    352928 non-null  int64
 6   timetaken_in_millisec   352928 non-null  float64
 7   rank                    352928 non-null  int64
 8   max_speed               352928 non-null  float64
 9   statusId                352928 non-null  int64
 10  round                   352928 non-null  int64
 11  circuitId               352928 non-null  int64
 12  grand_prix              352928 non-null  int64
 13  driverStandingsId       352928 non-null  int64
 14  raceId_y                352928 non-null  int64
 15  points_y                352928 non-null  float64
 16  wins                    352928 non-null  int64
 17  result_driver_standing  352928 non-null  int64
 18  age                     352928 non-null  int64
dtypes: float64(4), int64(15)
memory usage: 51.2 MB

In [10]:
df_joined.rename(columns={'0': 'position'}, inplace=True)

In [11]:
df_joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   position                352928 non-null  int64
 1   constructorId           352928 non-null  int64
 2   grid                    352928 non-null  int64
 3   positionOrder           352928 non-null  int64
 4   points                  352928 non-null  float64
 5   laps                    352928 non-null  int64
 6   timetaken_in_millisec   352928 non-null  float64
 7   rank                    352928 non-null  int64
 8   max_speed               352928 non-null  float64
 9   statusId                352928 non-null  int64
 10  round                   352928 non-null  int64
 11  circuitId               352928 non-null  int64
 12  grand_prix              352928 non-null  int64
 13  driverStandingsId       352928 non-null  int64
 14  raceId_y                352928 non-null  int64
 15  points_y                352928 non-null  float64
 16  wins                    352928 non-null  int64
 17  result_driver_standing  352928 non-null  int64
 18  age                     352928 non-null  int64
dtypes: float64(4), int64(15)
memory usage: 51.2 MB

In [20]:
extracted_columns = df_joined[['position', 'result_driver_standing']]

In [22]:
extracted_columns.head(20)

    position  result_driver_standing
0          5               298739826
1          4               299218806
2          6               299697786
3          5               300176766
4          6               300655746
5          6               301158675
6          6               301661604
7          6               302188482
8          6               302715360
9          5               303266187
10         5               303817014
11         5               304391790
12         4               304966566
13         4               305565291
14         4               306164016
15         8               290118186
16         5               290381625
17         3               290740860
18         4               291147993
19         3               291603024

In [23]:
extracted_columns.to_csv('yt_pred_rf.csv', index=False)